[Unit]
Description= Kafka Consumer Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3.6 /opt/kafka_code/consumer_service.py > /opt/kafka_code/consumer.log 2>&1

[Install]
WantedBy=multi-user.target